// Microsoft Visual C++ generated resource script.
//
#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
// REQUIRED
#include "windows.h"


/////////////////////////////////////////////////////////////////////////////
// Italiano (Italia) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ITA)
#ifdef _WIN32
LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN
#pragma code_page(1252)
#endif //_WIN32


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PROGRESS_DIALOG DIALOGEX 0, 0, 186, 67
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_THICKFRAME
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Cancel",IDC_CANCEL_BUTTON,67,44,50,14
    LTEXT           "RUNTIME DEFINED",IDC_STATIC_TEXT,7,7,172,30
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO 
BEGIN
    IDD_PROGRESS_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 179
        TOPMARGIN, 7
        BOTTOMMARGIN, 58
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // Italiano (Italia) resources
/////////////////////////////////////////////////////////////////////////////



